.game-board {
  background-image: url("https://static.wixstatic.com/media/8ee8bf_b936c824faa843908906b1609d9bc007~mv2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: fit;

  min-height: 100%;
}

.successful {
  color: red;
  background-color: black;
  font-size: 2rem;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  color: white;
  background-color: black;
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}